*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(188, 189, 187);
}
.header{
    background-color: rgb(125, 149, 149);
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.header .logo img{
    margin-left: 10px;
}
.header .details{
    display: flex;
    font-size: 20px;
}
.header .details .lists ul{
    list-style-type: none;
    overflow: hidden;
}
.header .details .lists li{
    float: left;
    margin: 20px;
    font: bolder;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.header .details .lists li:hover{
    border: 2px solid rgb(46, 45, 45);
    border-top: none;
    border-left: none;
    border-right: none;
    transition: width 0.5s ease;

}
.header .details .login{
    margin: 15px;
}
.header .details .login button{
    background-color: black;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 5px;
}

.pricing{
    margin: 0% 10% 0% 10%;
}
.pricing .plans p{
    font-size: 45px;
    margin: 25px;
    text-align: center;
    font-weight: bolder;
    font-family: sans-serif;
}
.pricing .plans #matter{
    font-size: 25px;
    font-weight: 100;
    margin: 0px;
    color: rgb(95, 93, 93);
}
.pricing .duration{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing .duration .details1{
    margin: 15px;
    background-color: rgb(165, 167, 164);
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.pricing .duration .details1 span{
    font-size: 20px;
    text-align: center;
    margin: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
}
#currency{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.price-details{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.price-details .price-mc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(119, 208, 210);
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    backdrop-filter: blur(8px);

}
.price-details .price-mc img{
    height: 70px;
}
.price-details .price-mc h2{
    font-size: 45px;
}
.price-details .price-mc #matter2{
    font-size:30px;
}
.price-details .price-mc button{
    font-size:25px;
    margin: 15px;
    padding: 10px 45px 10px 45px;
    background-color: black;
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}
.price-details .price-mc p{
    font-size: 20px;
    margin-bottom: 5px;
}
.price-details .price-mc #matter3{
    font-size: 20px;
}
.price-details .price-mc i{
    font-size: 20px;
    margin: 10px;
}

#talk{
    margin: 15px;
    text-align: center;
}
#talk a{
    color: rgb(119, 112, 112);
    text-decoration: none;
}
.pricing .users{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}
.pricing .users img{
    border-radius: 50%;
    height: 30px;
}

.footer-div{
    display: flex;
    justify-content: space-between;
    margin: 0% 10% 0% 10%;
    padding: 20px;
}
.footer-div .footer1{
    display: flex;
    flex-direction: column;
}
.footer-div .footer1 span{
    font-size: 20px;
    font-weight: 600;
}
.footer-div .footer1 a{
    text-decoration: none;
    color: rgb(73, 72, 72);
    margin: 5px;
    font-size: 20px;
}
#made-by{
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 10px;
}
#made-by a{
    text-decoration: none;
    color: rgb(88, 85, 85);
}
footer{
    background-color: rgb(209, 205, 205);
}


@media (max-width: 1000px) {
    .pricing {
        margin: 0% 5%;
    }
    .price-details {
        flex-direction: column;
        align-items: center;
    }
    .price-details .price-mc {
        width: 80%;
        margin-bottom: 20px;
    }
    
    .footer-div {
        flex-direction: column;
        align-items: center;
    }
    .footer-div .footer1 {
        align-items: center;
    }
    .footer-div .footer1 a {
        margin: 3px;
        font-size: 15px;
    }
}


@media (max-width: 540px) {
    .pricing .duration {
        flex-direction: column;
        align-items: center;
    }
    .pricing .duration .details1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

    }
    .pricing .duration .details1 span{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: 10px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 20px;

    }
    .pricing .duration .details1 #currency {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 20px;

    }
    .header .details .lists {
        display: none;
    }
    
    .price-details .price-mc {
        width: 90%;
        margin-bottom: 20px;
    }
    .price-details .price-mc img {
        height: 63px; /* Decrease by 10% */
    }
    .price-details .price-mc h2 {
        font-size: 40.5px; /* Decrease by 10% */
    }
    .price-details .price-mc #matter2 {
        font-size: 27px; /* Decrease by 10% */
    }
    .price-details .price-mc button {
        font-size: 22.5px; /* Decrease by 10% */
        padding: 9px 40.5px; /* Decrease by 10% */
    }
    .price-details .price-mc p {
        font-size: 18px; /* Decrease by 10% */
    }
    .price-details .price-mc #matter3 {
        font-size: 18px; /* Decrease by 10% */
    }
    .price-details .price-mc i {
        font-size: 18px; /* Decrease by 10% */
    }

}